/* messages div */
#chat {
    display: block;
    width: 100%;
    height: calc(100% - 200px);
}
#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden scroll;
    display: flex;
    flex-flow: column nowrap;
}
#messages {
    width: 100%;
    height: auto;
}
#messages > .message {
    width: 100%;
    display: flex;
    padding: 10px;
}
.messageWrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.messageBoxWrapper {
    width: 100%;
    display: flex;
}
.messageTime {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.messageTime > div {
    text-align: center;
}
.messageBox {
    max-width: 50%;
    background-color: var(--theme);
    padding: 10px;
    border-radius: 5px;
}
.messageBox.server {
    background-color: var(--sec);
}
.left {
    justify-content: left;
}
.right {
    justify-content: right;
}
.middle {
    justify-content: center;
}

/* chatbox */
#chatbox {
    width: 100%;
    height: 100px;
    display: flex;
    flex: row no-wrap;
    padding: 10px;
    gap: 10px;
}
#chatbox > * {
    height: 100%;
}
#chatbox > textarea {
    width: 80%;
}
#chatbox > button {
    width: 20%;
}

/* SETTINGS WINDOWS */
#settings {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#settings > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}