:root {
    --bg: #222;
    --sec: #111;
    --theme: #9C27B0;
    --text: #ffffff;
    --error: #ff0000;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text)
}
/* general */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}
a {
    text-decoration: none;
}
/* navigation bar */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex: row no-wrap;
    background-color: var(--sec);
}
nav > a, nav > button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    transition: all 0.1s ease-in-out;
    border-radius: 0px;
}
nav > a:hover {
    background-color: var(--theme);
}

.error {
    color: var(--error)
}

button, input, a, textarea {
    background-color: var(--sec);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
}
textarea {
    resize: none;
}

button:hover, button:focus, a:focus, a:hover {
    background-color: var(--theme);
    cursor: pointer;
}
