{% extends "layout.html" %}

{% block title %}
    Chat Settings
{% endblock %}

{% block main %}

<nav>
    <a href="/{{ chat_id }}">Back</a>
</nav>

<h1>Leave Chat</h1>
<form action="/{{ chat_id }}/leave" method="post">
    <button type="submit">Leave Chat</button>
</form>
<h1>Add user to groupchat</h1>
<form action="/{{ chat_id }}/add_user" method="post">
    <label for="user_id">User ID</label>
    <input type="text" name="user_id" id="user_id">
    <button type="submit">Add User</button>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</form>

{% endblock %}