{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/home.css">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<nav>
    <a href="/settings">Settings</a>
    <a href="/logout">Logout</a>
    <a href="/new_chat">New Chat</a>
</nav>
<div id="chats">
    {% for chat in chats %}
        <a class="chat" href="/{{ chat['id'] }}">
            <div>Chat Name: {{ chat["name"] }}</div>
            <div>Members: 
                {% for member in chat["members"] %}
                    {{ member[0] }} 
                {% endfor %}
            </div>
        </a>
        <hr>
    {% endfor %}
</div>

{% endblock %}